@import "./responsive.scss";

@mixin font-abhaya-libre-400 {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-judson-400 {
    font-family: "Judson", serif;
    font-weight: 400;
}

@mixin font-judson-700 {
    font-family: "Judson", serif;
    font-weight: 700;
}

@mixin font-montserrat {
    font-family: "Montserrat", sans-serif;
}

@mixin font-montserrat-default {
    @include font-montserrat;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

@mixin font-montserrat-400 {
    @include font-montserrat-default;
    font-weight: 400;
}

@mixin font-montserrat-500 {
    @include font-montserrat-default;
    font-weight: 500;
}

@mixin font-montserrat-600 {
    @include font-montserrat-default;
    font-weight: 600;
}

@mixin font-montserrat-700 {
    @include font-montserrat-default;
    font-weight: 600;
}

@mixin font-rastanty-cortez {
    font-family: "Rastanty-Cortez", sans-serif;
}

// TODO: get rid of bootstrap

$use-gutter: true;
//$gutter-color: #bbbbbb;
$gutter-color: #eaeaea;

@mixin page-outer {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 1356px;
    //max-width: 1600px;
}

@mixin page-inner {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1356px;
    //max-width: 1600px;

    @media #{$media-tablet} {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media #{$media-mobile} {
        padding-left: 24px;
        padding-right: 24px;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

hr {
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

p, hr {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

.align-center {
	text-align: center;
}

img {
    border-radius: 4px;
}

// get rid of
.card {
    border-radius: 4px;
}

.link-secondary {
	text-decoration: underline;
	color: var(--color-heading);
	@include font-montserrat-500;
	font-size: 19.2px;

	&:hover {
		color: #233727;
		font-weight: 700;
	}
}

section {
    background-color: $gutter-color;
}

.bg-white-custom {
    @if $use-gutter {
        .inner, .outer {
            background-color: var(--color-bg-white);
        }
    }
    @else {
        background-color: var(--color-bg-white);
    }

    .heading {
        color: var(--color-heading);
    }

    .default-text, p {
        color: var(--color-text);
    }
}

.bg-blue {
    @if $use-gutter {
        .inner, .outer {
            background-color: var(--color-bg-blue);
        }
    }
    @else {
        background-color: var(--color-bg-blue);
    }

    .heading {
        color: var(--color-heading);
    }

    .default-text, p {
        color: var(--color-text);
    }
}

.bg-green {
    @if $use-gutter {
        .inner, .outer {
            background-color: var(--color-bg-green);
        }
    }
    @else {
        background-color: var(--color-bg-green);
    }

    .heading {
        color: var(--color-heading);
    }

    .default-text, p {
        color: var(--color-text);
    }
}

.heading {
    @include font-judson-400;
    font-size: 39.81px;

    @media #{$media-tablet} {
        font-size: 33.18px;
    }

    @media #{$media-mobile} {
        font-size: 27.65px;
    }
}

.default-text, p {
    @include font-montserrat-400;
}

.outer {
    @include page-outer;
}

.inner {
    @include page-inner;
    overflow: hidden;
}

.font-size-ml {
	font-size: 19.2px; // TODO
}

.flex {
    display: flex;
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.gap-48 {
    gap: 48px;
}

.nowrap {
	white-space:nowrap;
}