.banana {
  color: #42d930;
}

p, hr {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

img {
  border-radius: 4px;
}

.card {
  border-radius: 4px;
}

section {
  background-color: #bbbbbb;
}

.bg-white-custom {
  background-color: var(--color-bg-white);
}
.bg-white-custom .heading {
  color: var(--color-heading);
}
.bg-white-custom .default-text, .bg-white-custom p {
  color: var(--color-text);
}

.bg-blue {
  background-color: var(--color-bg-blue);
}
.bg-blue .heading {
  color: var(--color-heading);
}
.bg-blue .default-text, .bg-blue p {
  color: var(--color-text);
}

.bg-green {
  background-color: var(--color-bg-green);
}
.bg-green .heading {
  color: var(--color-heading);
}
.bg-green .default-text, .bg-green p {
  color: var(--color-text);
}

.heading {
  font-family: "Judson", serif;
  font-weight: 400;
  font-size: 39.81px;
}
@media (max-width: 992px) {
  .heading {
    font-size: 33.18px;
  }
}
@media (max-width: 576px) {
  .heading {
    font-size: 27.65px;
  }
}

.default-text, p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
}

.button-primary {
  padding: 16px 24px;
  width: fit-content;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  color: var(--color-btn-text-primary);
  border-radius: 29px;
  border: none;
  background: var(--color-btn-bg-primary);
}

.button-secondary {
  padding: 16px 24px;
  width: fit-content;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  background: var(--color-btn-bg-secondary);
  color: var(--color-btn-text-secondary);
  border-radius: 25px;
  border: 1.5px solid var(--color-btn-border-secondary);
  letter-spacing: 0.32px;
}

.outer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1356px;
}

.inner {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1356px;
}
@media (max-width: 992px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 576px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.flex-text-image {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin: 136px 0;
}
.flex-text-image img {
  width: 45%;
  object-fit: cover;
}
.flex-text-image .text-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.flex-text-image .text-side .text-side-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.flex-text-image .text-side p {
  margin-bottom: 24px;
}
.flex-text-image .text-side p:last-of-type {
  margin-bottom: 0;
}
.flex-text-image .image-container {
  width: 50%;
  object-fit: cover;
  border-radius: 4px;
}
.flex-text-image .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .flex-text-image {
    margin: 80px 0;
    flex-direction: column;
    gap: 48px;
  }
  .flex-text-image .image-container {
    order: -1;
    width: 100%;
    overflow: clip;
  }
  .flex-text-image .image-container img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .flex-text-image {
    margin: 64px 0;
  }
}
